# ---------------------------
# VS Code
# ---------------------------
**/.vscode/

# ---------------------------
# Python
# ---------------------------
**/__pycache__/
*.pyc
*.pyo
*.pyd
*.pytest_cache/
*.coverage
*.egg-info/
**/dist/
**/build/
**/.venv/
**/venv/
**/env/

# ---------------------------
# MATLAB / Simulink
# ---------------------------
**/slprj/
**/sccprj/
**/work/
**/cache/
**/codegen/

*.asv        # MATLAB autosave files
*.m~         # MATLAB backup files
*.autosave

*.slxc       # Simulink cache
*.fmu        # FMU exports

*.mldatx
*.sltest
*.cvt

# ---------------------------
# Multimedia-related
# ---------------------------
*.gif
*.mp4
*.webm

!docs/plot_wingloop_test_aircraft.gif
!plot_wingloop_test_aircraft_strobe.png
# ---------------------------
# OS files
# ---------------------------
.DS_Store
Thumbs.db
